*, *:after, *:before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #88b2be;
}

a.active {
  color: #88b2be;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: grid;
  grid-template-rows: 10% auto 10%;
  gap: 20px;
}

header {
  background-color: #3c3c3c;
  display: grid;
  grid-template-columns: 20% auto;
  padding: 10px;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

main {
  display: grid;
  grid-template-columns: 20% auto;
}

nav {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main_page {
  padding: 10px;
}

footer {
  background-color: #3c3c3c;
}


